/*DIGITAL CLOCK FONT*/
@font-face{
    font-family:'digital-7';
    src: url('../fonts/digital-7.ttf');
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none
}
.playlist .react-scrollbar-default .-reactjs-scrollbar-thumb {
    background: red;
    cursor: default;
    width: 30px;
    margin-left:-20px;
    height: 10px;
}
.-reactjs-scrollbar-track {
        width: 10px;
        height: 100%;
        top: 0;
        right: 0; }
.contextMenu {
    z-index:1000;
    position: fixed;
    background: white;
    box-shadow: 0px 2px 10px #999999;
    }
    
    .contextMenu--option {
        padding: 6px 50px 5px 10px;
        min-width: 160px;
        cursor: default;
        font-size: 12px;
        }
        .contextMenu--option:hover {
            background: linear-gradient(to top, #555, #333);
            color: white;
        }
        
        .contextMenu--option:active {
            color: #e9e9e9;
            background: linear-gradient(to top, #555, #444);
        }
        
        .contextMenu--option__disabled {
            color: #999999;
            pointer-events: none;
        }

    
    .contextMenu--separator {
        width: 100%;
        height: 1px;
        background: #CCCCCC;
        margin: 0 0 0 0;
    }
    .list-time{
    clear: right;
        float:right;
        padding-right: 15px;

    }
   .header-time{
       font-family: 'digital-7', sans-serif;
 clear: right;
          float:right;
       padding-right: 15px;

    }
    .header-image{
        float:right;
        width:100px;
        height:100px;
        padding-right: 15px;

    }
    .list-title{
        margin-right:10px;
    }

.tab-panel, .tabs-navigation, .header-total{
    padding-left:5px;
    padding-right:5px;
}
.list-image{
width:60px;
height:60px;
clear: left;
float:left;
}
.list-image-small{
    margin:7px;
    width:40px;
    height:40px;
    clear: left;
    float:left;
    vertical-align: middle;
}
.list-image-large{
    margin:7px;
    width:100%;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin-right: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
    /* Checkbox text */
    font-size: 110%;
    display: inline;
}


.floating-button2{
    right: 60px;
}
.floating-button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #db4437;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
}

.plus{
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto';
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}

