    .contextMenu--option {
        font-size: 50px;
        }
 
    .header-image{
        width:200px;
        height:200px;

    }
.list-image{
width:120px;
height:120px;
}
.list-image-small{
    width:80px;
    height:80px;
}
        #app, .popup {
            font-size: 3rem;
        }header{
    min-height: 300px;
}
input[type=checkbox]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    vertical-align:middle;
    margin: 20px;

}
